# Python
__pycache__/
*.pyc
venv/
env/
db.sqlite3
.env

# Node
node_modules/
dist/

# Media
media/videos/*
media/evidence/*
!media/videos/.gitkeep
!media/evidence/.gitkeep

# Model weights
*.pt

# OS
.DS_Store
.vscode/
